body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1 {
    text-align: center;
  }

  .container {
    max-width: 400px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  .form-group .checkbox-label {
    display: block;
    margin-top: 10px;
  }

  /* Custom styles for checked radio buttons */
  .form-group input[type="radio"]:checked {
    border-color: #4CAF50;
    background-color: #E8F5E9;
  }