    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: aquamarine;
    }

    h1 {
      text-align: center;
      color:  #f92c2c;;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
    }

    .form-group input,
    .form-group textarea {
      width: 100%;
      padding: 8px;
      font-size: 15px;
      border-radius: 5px;
      border: 1px solid #f92c2c;
    }

    .form-group input[type="submit"] {
      background-color: #0943f1;
      color: white;
      cursor: pointer;
      margin-bottom: auto;
    }

    .form-group .checkbox-label {
      display: block;
      margin-top: 10px;
    }